<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>
        <a class="navbar-brand d-none d-lg-inline-block" href="/book-my-trip">
          <img src="/assets/logo.svg" height="36" alt="Logo">
        </a>
      </span>
      <span class="spacer"></span>
      <nav class="stroke">
        <ul>
          <li><a href="/book-my-trip/{{city}}/restaurants">Restaurants</a></li>
          <li><a href="/book-my-trip/{{city}}/hotels">Hotels</a></li>
          <li><a href="/book-my-trip/{{city}}/museen">Museen</a></li>
        </ul>
      </nav>
      <!-- Button to create a new entry review -->
      <div>
        <button class="buttons" id="new-rating-button" (click)="toReviewForm()">Bewertung abgeben</button>
      </div>
    </mat-toolbar>

    <ng-content></ng-content>
    <!-- Add Content Here -->

    <main class="container">
      
      <div class="row">
        <section class="col-6 columns" *ngIf="entry">
          <div class="row">
            <div class="col-12">
              <div class="entry-item-name">
                <h4 *ngIf="entry">{{entryType}} &ndash; {{entry.name}}</h4>
                <img *ngIf="entryTypeMatches('restaurants')" src="assets/placeholder_restaurant.jpg" width="540px" alt="Bild vom Restaurant">
                <img *ngIf="entryTypeMatches('museen')" src="assets/placeholder_museum.png" width="540px" alt="Bild vom Museum">
                <img *ngIf="entryTypeMatches('hotels')" src="assets/placeholder_hotel.png" width="540px" alt="Bild vom Hotel">
              </div>
            </div>
          </div>

          <!-- Details anzeigen -->
          <div class="row">
            <div class="col-12 entry-item-details" style="margin-bottom: 20px; margin-top: 20px;" *ngIf="entry">
                <table>
                  <tr>
                    <th>Adresse:</th>
                    <td>{{entry.contact | showAddress}}</td>
                  </tr>
                  <tr *ngIf="!isNull(entry.contact.phoneNumber)">
                    <th>Telefonnummer:</th>
                    <td>{{entry.contact.phoneNumber}}</td>
                  </tr>
                  <tr>
                    <th style="width: 35%">Bewertung:</th>
                    <td><span class="fa fa-star" style="color: orange;" *ngFor="let i of [1,2,3,4,5] | slice:0:entry.avrgRating;"></span>
                        <span class="fa fa-star-o" *ngFor="let i of [1,2,3,4,5] | slice:entry.avrgRating:5;"></span>
                        ({{entry.numOfReviews}})</td>
                  </tr>
                  <tr><th>&nbsp;</th></tr>
                  <tr *ngIf="entryTypeMatches('restaurants')">
                    <th>Küchen:</th>
                    <td>{{entry.cuisines | showTypes:"detailPage"}}</td>
                  </tr>
                  <tr *ngIf="entryTypeMatches('museen')">
                    <th>Museumsarten:</th>
                    <td>{{entry.museumTypes | showTypes:"detailPage"}}</td>
                  </tr>
                  <tr *ngIf="!entryTypeMatches('hotels')">
                    <th>Preisstufe:</th>
                    <td>{{entry.priceLevel | showPriceLevel}}</td>
                  </tr>
                  <tr *ngIf="entryTypeMatches('hotels')">
                    <th>Sterne:</th>
                    <td>{{entry.stars}}</td>
                  </tr>
                  <tr *ngIf="entryTypeMatches('hotels')">
                    <th>Frühstück:</th>
                    <td>{{entry.breakfastIncl | showInclusive}}</td>
                  </tr>
                </table>
            </div>
          </div>

          <!-- statische Öffnungszeiten anzeigen -->
          <div class="row">
            <div class="col-12 entry-item-details">
              <div class="entry-item-open-hours">
                <table>
                  <tr>
                    <th style="width: 60%" scope="col">Tag der Woche</th>
                    <th scope="col">Öffnungszeiten</th>
                  </tr>
                  <tr>
                    <td>Montag</td>
                    <td>16:00 &nbsp;&ndash;&nbsp; 21:00</td>
                  </tr>
                  <tr>
                    <td>Dienstag</td>
                    <td>10:00 &nbsp;&ndash;&nbsp; 21:00</td>
                  </tr>
                  <tr>
                    <td>Mittwoch</td>
                    <td>10:00 &nbsp;&ndash;&nbsp; 21:00</td>
                  </tr>
                  <tr>
                    <td>Donnerstag</td>
                    <td>10:00 &nbsp;&ndash;&nbsp; 21:00</td>
                  </tr>
                  <tr>
                    <td>Freitag</td>
                    <td>10:00 &nbsp;&ndash;&nbsp; 21:00</td>
                  </tr>
                  <tr>
                    <td>Samstag</td>
                    <td>10:00 &nbsp;&ndash;&nbsp; 21:00</td>
                  </tr>
                  <tr>
                    <td>Sonntag</td>
                    <td>10:00 &nbsp;&ndash;&nbsp; 17:00</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </section>

        <section class="col-6 columns">
          <div class="col">
              <div class="entry-comments">
                  <div class="row nested comment"> 
                      <app-comment [entry]="entry"
                      ></app-comment>
                  </div>
              </div>
          </div>
        </section>
      </div>

      <section class="row">
        <div class="col">
          <button class="buttons" id="back-button" (click)="handleBackButton()">Zurück</button>
        </div>
      </section>

    </main>

    <footer class="row">
      <mat-toolbar color="primary">
        <app-footer></app-footer>
      </mat-toolbar>
    </footer>

  </mat-sidenav-content>
</mat-sidenav-container>
