<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Wählen Sie bitte die Küche aus</h4> <!-- TODO: dynamische Anpassung implementieren -->
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
  
  <span class="more-link" (click)="openVerticallyCentered(content)">Mehr anzeigen</span>
<!-- <span class="expand-icon">
    <mat-icon>expand_more</mat-icon>
</span> -->