<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport = false>
        <mat-toolbar color="primary">
            <tr class="filter-header">
                <td class="filter-category-title">Filter-Kategorien</td>
                <td class="close-area">
                    <button type="button" class="close" (click)="drawer.toggle()">
                        <span class="close-icon" aria-hidden="true">&times;</span>
                    </button>
                </td>
            </tr>  
        </mat-toolbar>
        <mat-nav-list>
            <app-sidebar></app-sidebar>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <span>        
                <a class="navbar-brand d-none d-lg-inline-block" href="/book-my-trip">
                    <img src="/assets/logo.svg" height="36" alt="Logo">
                </a>
            </span>
            <span class="spacer"></span>
            <!-- <span>Book My Trip</span> -->
            <app-search-field
            (searchedName)="showByName($event)"
            ></app-search-field>
            <span class="spacer"></span>
            <nav class="stroke">
                <ul>
                    <li><a href="/book-my-trip/{{city}}/restaurants">Restaurants</a></li>
                    <li><a href="/book-my-trip/{{city}}/hotels">Hotels</a></li>
                    <li><a href="/book-my-trip/{{city}}/museen">Museen</a></li>
                </ul>
            </nav>
            <span class="spacer"></span>
            <!-- Button to create a new entry item -->
            <app-button-new-entry-item></app-button-new-entry-item>
            <!-- <span class="spacer"></span> -->
        </mat-toolbar>
        <ng-content></ng-content>
        <!-- Add Content Here -->
        <div class="container-fluid">
            <main class="main-content">
                <div class="row">
                    <div class="col-1">
                        <button class="filter-toggle-icon" type="button" mat-button (click)="drawer.toggle()">
                            <i class="fa fa-filter fa-2x"></i>
                        </button>
                    </div>
                    <div class="col-11">
                        <div class="city-name">
                            <div class="row justify-content-center">
                                <h4>{{entriesURL.charAt(0) | uppercase}}{{entriesURL.substring(1)}} in {{city}}</h4>
                            </div>
                        </div>
                    </div>
                    <app-cards
                    [entries]="entries"
                    ></app-cards>             

                    <div class="col-12">
                        <div class="row cards">
                            <div class="col-12">
                                <app-cards></app-cards>
                                <div class="no-results-message">No results found</div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer class="row">
                <mat-toolbar color="primary">
                    <app-footer></app-footer>
                </mat-toolbar>
            </footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
  