<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport = false>
      <mat-toolbar color="primary">Filter-Kategorien</mat-toolbar>
      <mat-nav-list>
          <app-sidebar></app-sidebar>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>        
            <a class="navbar-brand d-none d-lg-inline-block" href="#"> Logo</a>
        </span>
        <span>Book My Trip</span>
        <span class="spacer"></span>
        <a href="#">Home</a>
        <a href="/book-my-trip/{{city}}/restaurants">Restaurants</a>
        <a href="/book-my-trip/{{city}}/hotels">Hotels</a>
        <a href="/book-my-trip/{{city}}/museen">Museen</a>
      </mat-toolbar>
      <ng-content></ng-content>
      <!-- Add Content Here -->
      <div class="container-fluid">
        
        <main class="main-content">

            <div class="row">
                <!-- <app-search-field></app-search-field> -->
                <div class="col-12">
                    <!-- <button type="button" mat-button (click)="drawer.toggle()">Filtern</button> -->
                    <app-search-field></app-search-field>
                    <h4>Stadtname</h4>

                    <div class="row cards">
                        <div class="col-12">
                            <app-cards></app-cards>
                            <div class="no-results-message">No results found</div>
                        </div>
                    </div>
                </div>
            </div>
    </main>

        <div class="row footer">
            <div class="col-12 navbar navbar-expand-lg navbar-light bg-light">
                <app-footer></app-footer>
            </div>
        </div>

    </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
  