
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <!-- <mat-toolbar>Menu</mat-toolbar> -->
      <mat-nav-list>
          <app-sidebar></app-sidebar>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">Filter</mat-icon>
        </button>
        <span>
        </span>
      </mat-toolbar>
      <ng-content></ng-content>
      <!-- Add Content Here -->
      <div class="container-fluid">
        
        <main class="main-content">

            <div class="row">

                <div class="col-12">

                    <h4>Stadtname</h4>

                    <div class="row cards">
                        <div class="col-12">
                            <app-cards></app-cards>
                            <div class="no-results-message">No results found</div>
                        </div>
                    </div>
                </div>
            </div>

    </main>

        <div class="row footer">
            <div class="col-12 navbar navbar-expand-lg navbar-light bg-light">
                <app-footer></app-footer>
            </div>
        </div>

    </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
  