<div class="cd-filter">
    <form>

        <!-- cd-filter-block -->
        <div class="cd-filter-block">
            <h4>Küchen</h4>
            <!-- cd-filter-content -->
            <ul class="cd-filter-content cd-filters list">
                <li>
                    <label class="checkbox-label" for="checkbox1">Asiatisch</label>
                    <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
                </li>

                <li>
                    <label class="checkbox-label" for="checkbox2">Deutsch</label>
                    <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                </li>

                <li>
                    <label class="checkbox-label" for="checkbox3">Tuerkisch</label>
                    <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                </li>
            </ul> <!-- cd-filter-content -->
        </div> <!-- cd-filter-block -->

        <!-- cd-filter-block -->
        <div class="cd-filter-block">
            <h4>Bewertung</h4>
            <!-- cd-filter-content -->
            <ul class="cd-filter-content cd-filters list">
                <li class="rating best">
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star" style="color: orange;"></span>
                    <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
                </li>

                <li class="rating very-good">
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star-o"></span>
                    <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                </li>

                <li class="rating good">
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star-o"></span>
                    <span class="fa fa-star-o"></span>
                    <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                </li>

                <li class="rating ok">
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star-o"></span>
                    <span class="fa fa-star-o"></span>
                    <span class="fa fa-star-o"></span>
                    <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                </li>

                <li class="rating bad">
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star-o"></span>
                    <span class="fa fa-star-o"></span>
                    <span class="fa fa-star-o"></span>
                    <span class="fa fa-star-o"></span>
                    <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                </li>
            </ul> <!-- cd-filter-content -->
        </div> <!-- cd-filter-block -->

        <!-- cd-filter-block -->
        <div class="cd-filter-block">
                <h4>Preisstufe</h4>
                <!-- cd-filter-content -->
                <ul class="cd-filter-content cd-filters list">
                    <li>
                        <label class="checkbox-label" for="checkbox1">Guenstig</label>
                        <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
                    </li>

                    <li>
                        <label class="checkbox-label" for="checkbox2">Mittel</label>
                        <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                    </li>

                    <li>
                        <label class="checkbox-label" for="checkbox3">Teuer</label>
                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                    </li>
                </ul> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->
