<div class="filter">  
        <form>
        <!-- filter-block -->
        <div class="filter-block">
            <h6>Küchen</h6>
            <!-- filter-content -->
            <ul class="filter-content filters list">
                <li>
                    <input class="filter" data-filter="check" type="checkbox" id="checkbox1">
                    <label class="checkbox-label" for="checkbox">Asiatisch</label>
                </li>

                <li>
                    <input class="filter" data-filter="check" type="checkbox" id="checkbox2">
                    <label class="checkbox-label" for="checkbox">Deutsch</label>
                </li>

                <li>
                    <input class="filter" data-filter="check" type="checkbox" id="checkbox3">
                    <label class="checkbox-label" for="checkbox">Tuerkisch</label>
                </li>

                <li>
                    <input class="filter" data-filter="check" type="checkbox" id="checkbox3">
                    <label class="checkbox-label" for="checkbox">Arabisch</label>
                </li>

            </ul> <!-- filter-content -->
        </div> <!-- filter-block -->

        <!-- filter-block -->
        <div class="filter-block">
            <h6>Bewertung</h6>
            <!-- filter-content -->
            <ul class="filter-content filters list">
                <li class="rating best">
                    <input class="filter" data-filter="check" type="checkbox" id="checkbox1">
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star" style="color: orange;"></span>
                </li>

                <li class="rating very-good">
                    <input class="filter" data-filter="check" type="checkbox" id="checkbox2">
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star-o"></span>
                </li>

                <li class="rating good">
                    <input class="filter" data-filter="check" type="checkbox" id="checkbox3">
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star-o"></span>
                    <span class="fa fa-star-o"></span>
                </li>

                <li class="rating ok">
                    <input class="filter" data-filter="check" type="checkbox" id="checkbox3">
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star-o"></span>
                    <span class="fa fa-star-o"></span>
                    <span class="fa fa-star-o"></span>
                </li>

                <li class="rating bad">
                    <input class="filter" data-filter="check" type="checkbox" id="checkbox3">
                    <span class="fa fa-star" style="color: orange;"></span>
                    <span class="fa fa-star-o"></span>
                    <span class="fa fa-star-o"></span>
                    <span class="fa fa-star-o"></span>
                    <span class="fa fa-star-o"></span>
                </li>
            </ul> <!-- filter-content -->
        </div> <!-- filter-block -->

        <!-- filter-block -->
        <div class="filter-block">
                <h6>Preisstufe</h6>
                <!-- filter-content -->
                <ul class="filter-content filters list">
                    <li>
                        <input class="filter" data-filter="check" type="checkbox" id="checkbox1">
                        <label class="checkbox-label" for="checkbox">Guenstig</label>
                    </li>

                    <li>
                        <input class="filter" data-filter="check" type="checkbox" id="checkbox2">
                        <label class="checkbox-label" for="checkbox">Mittel</label>
                    </li>

                    <li>
                        <input class="filter" data-filter="check" type="checkbox" id="checkbox3">
                        <label class="checkbox-label" for="checkbox">Teuer</label>
                    </li>
                </ul> <!-- filter-content -->

                <div class="button-filter">
                    <button class="apply">Filtern</button>
                </div>
            </div> <!-- filter-block -->
        </form>
</div>
