/* You can add global styles to this file, and also import other style files */

.buttons {
    /* background: linear-gradient(50deg, #fc6262,  #ffd86f); */
    text-align: center;
    color: #26130C;
    background: linear-gradient(to right bottom, #bf417c, #d54670,
     #e65061, #f1604f, #f6743c, #f78131, #f68e25, #f39b17, #f3a212,
      #f3a90e, #f3b009, #f2b705);
    border-radius: 4px;
    border: none;
    height: 38px;
    width: fit-content;


}

/* .btn-rounded {
    border-radius: 15em;
} */



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
