/* You can add global styles to this file, and also import other style files */

.buttons {
    /* background: linear-gradient(50deg, #fc6262,  #ffd86f); */
    text-align: center;
    color: #26130C;
    background: rgb(246, 248, 171);
    border-radius: 4px;
    border: none;
    height: 38px;
    width: fit-content;
    font-weight: 500;
}

.buttons:hover {
    background: rgb(250, 121, 121);
}

ul {
    list-style: none;
}

/* .btn-rounded {
    border-radius: 15em;
} */



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
