<div class="form-group">
  <ngb-rating [formControl]="ctrl" aria-valuemax="5" aria-valuemin="1"></ngb-rating>
  <div class="form-text small">
    <div *ngIf="ctrl.valid" class="text-success">Vielen Dank!</div>
    <div *ngIf="ctrl.invalid" class="text-danger">Wir freuen uns auf Ihr Feedback!</div>
  </div>
</div>

<hr>
<pre>Model: <b>{{ ctrl.value }}</b></pre>
<button class="btn btn-sm btn-outline-{{ ctrl.disabled ? 'danger' : 'success'}} mr-2" (click)="toggle()">
  {{ ctrl.disabled ? "control disabled" : " control enabled" }}
</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="ctrl.setValue(null)">Löschen</button>