.search-button {
    background-color:#F2B705;
    border: none;
    height: 38px;
    width: 30px;
    border-radius: 2px;
    display: inline-block;
    outline: none !important;
}


.input-group :focus {
    outline: none !important;
    box-shadow: none !important;
    border: none;
}

.input-group-append :hover {
    background-color: #FFD857;
}