.buttons {
    margin-left: 7px;
}

i { 
    padding: 10px; 
    position: absolute;
    color:  rgb(250, 121, 121);
}

.input-field {
    padding-left: 32px;
}

  
.md-form {
    margin-left: 10px;
}