<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Bitte Stadt auswählen</button>
    <div id="myDropdown" class="dropdown-content">
      <input type="text" placeholder="Search..." id="myInput" onkeyup="filterFunction()">
      <a href="#berlin">Berlin</a>
      <a href="#hamburg">Hamburg</a>
      <a href="#muenchen">Muenchen</a>
      <a href="#koeln">Koeln</a>
      <a href="#frankfurt">Frankfurt am Main</a>
      <a href="#duesseldorf">Duesseldorf</a>
      <a href="#leipzig">Leipzig</a>
      <a href="#dortmund">Dortmund</a>
      <a href="#essen">Essen</a>
    </div>
</div>