<div class="container-fluid">
<!-- Begin Row 1 -->
<div class="row no-gutters">
    <div class="col flex-items">
        <div class="card">
        <img src="assets/placeholder_restaurant.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Entry 1</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="card-link">Details</a>
        </div>
        </div>
    </div>
    <div class="col flex-items">
        <div class="card">
        <img src="assets/placeholder_restaurant.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Entry 2</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="card-link">Details</a>
        </div>
        </div>
    </div>
    <div class="col flex-items">
        <div class="card">
        <img src="assets/placeholder_restaurant.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Entry 3</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="card-link">Details</a>
        </div>
        </div>
    </div>

<!-- Begin Row 2 -->

    <div class="col flex-items">
        <div class="card">
        <img src="assets/placeholder_restaurant.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Entry 4</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="card-link">Details</a>
        </div>
        </div>
    </div>
    <div class="col flex-items">
        <div class="card">
        <img src="assets/placeholder_restaurant.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Entry 5</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="card-link">Details</a>
        </div>
        </div>
    </div>
    <div class="col flex-items">
        <div class="card">
        <img src="assets/placeholder_restaurant.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Entry 6</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="card-link">Details</a>
        </div>
        </div>
    </div>
<!-- Begin Row 3 -->
    <div class="col flex-items">
        <div class="card">
        <img src="assets/placeholder_restaurant.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Entry 7</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="card-link">Details</a>
        </div>
        </div>
    </div>

    <div class="col flex-items">
        <div class="card">
        <img src="assets/placeholder_restaurant.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Entry 8</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="card-link">Details</a>
        </div>
        </div>
    </div>
    <div class="col flex-items">
        <div class="card">
        <img src="assets/placeholder_restaurant.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Entry 9</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="card-link">Details</a>
        </div>
        </div>
    </div>
</div>
</div>