<div class="container-fluid">
    <!-- Begin Row 1 -->
    <div class="row no-gutters">
        <div class="col flex-items" *ngFor="let entry of entries">
            <div class="card" *ngIf="entry">
                <img src="assets/placeholder_restaurant.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{entry.name}}</h5>
                        <ul>
                            <li><span class="card-text">Preisstufe</span>: {{entry.priceLevel}}</li>
                            <li><span class="card-text">Küchen</span>: {{entry.cuisines | showCuisines}}</li>
                            <li><span class="card-text">Rating</span>: {{entry.avrgRating}} ({{entry.numOfReviews}}) </li>
                        </ul>
                        <!-- <p class="card-text"></p> -->
                        <a href="#" class="card-link">Details</a>
                    </div>
            </div>
        </div>
    </div>
    </div>