 /* Styling for Comment Fields */
 .parent {
    display: flex;
  }

  .spacer {
    flex: 1 1 auto;
  }

  #review-list {
      margin: 0;
      padding: 0;
      width: 510px;
    }
    
    #review-list li {
      background-color: rgb(243, 243, 243);
      border: 2px solid #f3f3f3;
      margin: 0 0 30px;
      padding: 20px 20px;
      display: block;
      position: relative;
      border-radius: 5px;
  }

  .container {
      margin-top: 20px;
  }

  .title-rating {
    font-size: 14px;
    text-align: left;
  }

  h4 {
    text-align: center;
    margin-bottom: 20px;
  }

  .icon-buttons {
    text-align: end;
    margin: 5px 5px;
}

.edit-button {
    background: transparent;
    border: none;
    
}

.delete-button {
    background: transparent;
    border: none;
    margin: 0 5px;
}

.icon-buttons :hover {
    background-color:#FFD857;
}

mat-icon {
    font-size: large;
}