<div class="container">
    
    <div class="row">

        <section class="comment">

            <h4>Kommentare</h4>
            <ul id="review-list">

                <li>
                    <p>Name: Robert</p>
                    <p>Datum: <19.11.2019> </p>
                    <p>Tiramisu cotton candy jelly-o gummies cake. Croissant oat cake liquorice lollipop jelly-o halvah. Dessert gummies carrot cake marshmallow caramels pudding chocolate cake apple pie donut. Halvah sweet roll caramels sweet roll lemon drops tiramisu. Chocolate cake cookie jelly-o gingerbread lemon drops icing lemon drops sesame snaps. Cupcake jujubes powder gummi bears bonbon. Muffin muffin lemon drops candy canes sweet roll cotton candy.</p>
                    
                    <div class=" row star-rating-container">

                        <div class="col-3">
                            <p class="title-rating">Insgesamt</p>
                            <div class="form-group">
                                <ngb-rating aria-valuemax="5" aria-valuemin="1"></ngb-rating>
                                <div class="form-text small"></div>
                            </div>
                        </div>

                    
                        <div class="col-3">
                            <p class="title-rating">Service</p>
                            <div class="form-group">
                                <ngb-rating aria-valuemax="5" aria-valuemin="1"></ngb-rating>
                                <div class="form-text small"></div>
                            </div>
                        </div>

                        <div class="col-3">
                            <p class="title-rating">Essen</p>
                            <div class="form-group">
                                <ngb-rating aria-valuemax="5" aria-valuemin="1"></ngb-rating>
                                <div class="form-text small"></div>
                            </div>
                        </div>

                        <div class="col-3">
                            <p class="title-rating">Preis-Niveau</p>
                            <div class="form-group">
                                <ngb-rating aria-valuemax="5" aria-valuemin="1"></ngb-rating>
                                <div class="form-text small"></div>
                            </div>
                        </div>
                    </div>                
                </li>

 
                <li>
                    <p>Name: Robert</p>
                    <p>Datum: <19.12.2019></p>
                    <p>Tiramisu cotton candy jelly-o gummies cake. Croissant oat cake liquorice lollipop jelly-o halvah. Dessert gummies carrot cake marshmallow caramels pudding chocolate cake apple pie donut. Halvah sweet roll caramels sweet roll lemon drops tiramisu. Chocolate cake cookie jelly-o gingerbread lemon drops icing lemon drops sesame snaps. Cupcake jujubes powder gummi bears bonbon. Muffin muffin lemon drops candy canes sweet roll cotton candy.</p>
                    
                    <div class=" row star-rating-container">

                        <div class="col-3">
                            <p class="title-rating">Insgesamt</p>
                            <div class="form-group">
                                <ngb-rating aria-valuemax="5" aria-valuemin="1"></ngb-rating>
                                <div class="form-text small"></div>
                            </div>
                        </div>

                    
                        <div class="col-3">
                            <p class="title-rating">Service</p>
                            <div class="form-group">
                                <ngb-rating aria-valuemax="5" aria-valuemin="1"></ngb-rating>
                                <div class="form-text small"></div>
                            </div>
                        </div>

                        <div class="col-3">
                            <p class="title-rating">Essen</p>
                            <div class="form-group">
                                <ngb-rating aria-valuemax="5" aria-valuemin="1"></ngb-rating>
                                <div class="form-text small"></div>
                            </div>
                        </div>

                        <div class="col-3">
                            <p class="title-rating">Preis-Niveau</p>
                            <div class="form-group">
                                <ngb-rating aria-valuemax="5" aria-valuemin="1"></ngb-rating>
                                <div class="form-text small"></div>
                            </div>
                        </div>
                    </div>                
                </li>
            </ul>
        </section>
    </div>
</div>