/* Styling for Comment Fields */
.parent {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

#review-list {
  margin: 0;
  padding: 0;
  width: 565px;
}

#review-list li {
  background-color: rgb(243, 243, 243);
  border: 2px solid #f3f3f3;
  margin: 0 0 30px;
  padding: 20px 20px;
  display: block;
  position: relative;
  border-radius: 5px;
}

.container {
  margin-top: 20px;
}

.title-rating {
  font-size: 14px;
  text-align: left;
}

h4 {
  text-align: center;
  margin-bottom: 20px;
}

.icon-buttons {
  margin-top: 20px;
}

.delete-button {
  margin-left: 3px;
}

/* Breakpoints & Media Queries */

@media (max-width: 1199px) {
  #review-list {
    width: 400px;
    margin-left: 30px;
  }
}

@media (max-width: 992px) {
  #review-list {
    width: 320px;
    margin-left: 15px;
  }
}
