/* Navigation Styling */

.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  /* .sidenav .mat-toolbar {
    background: inherit;
  } */
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .mat-toolbar {
    font-size: medium;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .mat-toolbar a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: medium;
  }

  ol, ul {
    border: dotted #808080 1px;
    padding-left: 1rem;
    list-style: none;
  }
  
  input[type='checkbox'] {
    border: dotted #808080 1px;
    margin: 5px 10px;
  
  }
  
  li {
    padding-right: 20px;
  }

  /* Styling for Comment Fields */

  .name-date {
    border: 1px dotted grey;
  }

  #review-list {
      margin: 0;
      padding: 0;
  }

  #review-list li {
      background-color: rgb(243, 243, 243);
      border: 2px solid #f3f3f3;
      margin: 0 0 30px;
      padding: 20px 20px;
      display: block;
      position: relative;
  }

  .container {
      margin-top: 20px;
  }

  .title-rating {
    font-size: 14px;
    text-align: left;
  }

  h4 {
    text-align: center;
    margin-bottom: 20px;
  }

/*   .comment {
    margin: 40px 0;
  } */