<div class="container">
  <div class="row">
    <section class="comment">
      <h4>Kommentare</h4>
      <ul id="review-list">
        <li *ngFor="let review of reviews">
          <p style="margin-bottom: 2px;">{{review.reviewerName}} schrieb am {{review.dateTime}}</p>
          <p style="margin-bottom: 12px;"><b>{{review.reviewTitle}}</b></p>
          <p *ngIf="review.comment">{{review.comment}}</p>
          <p style="text-align:left;">
            <span><b>Bewertung:&nbsp;&nbsp;</b></span>
            <span class="fa fa-star" style="color: orange;"
              *ngFor="let i of [1,2,3,4,5] | slice:0:review.rating;"></span>
            <span class="fa fa-star-o" *ngFor="let i of [1,2,3,4,5] | slice:review.rating:5;"></span>
            <span style="float:right;">
              <div class="row icon-buttons">
                <button class="edit-button" type="button" (click)="toReviewForm(review.id)">
                  <mat-icon>edit</mat-icon>
                </button>
                <div class="delete-button">
                  <app-delete-modal [elementId]="review.id" (deleteElementById)="onDelete($event)"></app-delete-modal>
                </div>
              </div>
            </span>
          </p>
        </li>
      </ul>
    </section>
  </div>
</div>
