<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <!-- Header -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" class="hidden">
        <mat-icon>menu</mat-icon>
      </button>

      <span>
        <a class="navbar-brand d-lg-inline-block" href="/book-my-trip">
          <img src="/assets/logo.svg" height="36" alt="Logo">
        </a>
      </span>

      <span class="spacer"></span>
      <!-- Search bar -->
      <span class="hidden">
        <app-search-field (searchedName)="showByName($event)"></app-search-field>
      </span>

      <span class="spacer"></span>

      <!-- Navigation in the header for big screens -->
      <div>
        <nav class="stroke">
          <ul class="hidden">
            <li><a href="/book-my-trip/{{city}}/restaurants">Restaurants</a></li>
            <li><a href="/book-my-trip/{{city}}/hotels">Hotels</a></li>
            <li><a href="/book-my-trip/{{city}}/museen">Museen</a></li>
          </ul>
        </nav>
      </div>

      <span class="spacer"></span>
      <!-- Button to create a new entry item -->
      <app-button-new-entry></app-button-new-entry>
    </mat-toolbar>

    <!-- Navigation for smaller screens through hamburger menu & sidenav on the right side-->
    <mat-sidenav #sidenav id="nav-mobile" class="stroke" position="end">
      <mat-nav-list>
        <a (click)="sidenav.toggle()" class="close" mat-list-item>Schließen</a>
        <ul>
          <li><a href="/book-my-trip/{{city}}/restaurants">Restaurants</a></li>
          <li><a href="/book-my-trip/{{city}}/hotels">Hotels</a></li>
          <li><a href="/book-my-trip/{{city}}/museen">Museen</a></li>
        </ul>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Sidebar with filter on the left side-->
    <mat-sidenav #drawer class="sidenav" fixedInViewport=false [(opened)]="isSideNavOpen">
      <mat-toolbar color="primary">
        <tr class="filter-header">
          <td class="filter-category-title" *ngIf="selectedIcon === 'filter'">Filter-Kategorien</td>
          <td class="filter-category-title" *ngIf="selectedIcon === 'sort'">Sortier-Kategorien</td>
          <td class="close-area">
            <button type="button" class="close" (click)="drawer.toggle()">
              <span class="close-icon" aria-hidden="true">&times;</span>
            </button>
          </td>
        </tr>
      </mat-toolbar>
      <mat-nav-list>
        <app-sidebar
        [selectedIcon]="selectedIcon"
        (sortByOut)="setSortBy($event)"
        (directionOut)="setDirection($event)"
        (sortButtonPressed)="sortArray()"
        ></app-sidebar>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Main content -->
    <main class="container-fluid main-content">
      <div class="row">

        <div class="col">
          <span class="filter-toggle-icon" mat-button (click)="drawer.toggle()" (mouseenter) ="isFilter(true)" (mouseleave) ="isFilter(false)">
            <i class="fa fa-filter fa-2x"></i>
          </span>
          <span class="sort-icon" mat-button (click)="drawer.toggle()" (mouseenter) ="isSort(true)" (mouseleave) ="isSort(false)">
            <mat-icon>sort</mat-icon>
          </span>
        </div>
        <!-- Search bar for smaller screens -->
        <span class="hidden-on-big-screen">
          <app-search-field (searchedName)="showByName($event)"></app-search-field>
        </span>


        <div class="col-12">
          <div class="city-name">
            <div class="row justify-content-center">
              <h4>{{entriesURL.charAt(0) | uppercase}}{{entriesURL.substring(1)}} in {{city}}</h4>
            </div>
          </div>
        </div>
        <app-card [entries]="entries"></app-card>

        <div class="col-12">
          <div class="row cards">
            <div class="col-12">
              <app-card></app-card>
              <div class="no-results-message" *ngIf="entries && entries.length === 0">Es wurden leider keine Ergebnisse gefunden!</div>
            </div>
          </div>
        </div>

      </div>
    </main>

    <footer class="row">
      <mat-toolbar color="primary">
        <app-footer></app-footer>
      </mat-toolbar>
    </footer>

  </mat-sidenav-content>
</mat-sidenav-container>
