


.main-content {
    border: dotted grey 1px;
    margin: 5px 0;
    width: 100%;
    position: relative;
    min-height: 100vh;


}


.cards {
    padding: 26px 5%;
    width: 100%;
}

.cards .no-results-message {
    display: none;
    text-align: center;
}

h4 {
    text-align: center;
}




