.main-content {
    border: dotted grey 1px;
    margin: 10px 0;
    width: 100%;
}

h4 {
    text-align: center;
}

.sidebar {
    border: dotted grey 1px;
    margin: 10px 0;
    padding: 10px;
    width: 50%;
}

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
