<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Wählen Sie bitte den Typ Ihres Museums aus</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span class="close-icon" aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body columns">
    <mat-checkbox class="checkbox-item">Kunstmuseum</mat-checkbox>
    <mat-checkbox class="checkbox-item">Historisches Museum</mat-checkbox>
    <mat-checkbox class="checkbox-item">Archäologisches Museum</mat-checkbox>
    <mat-checkbox class="checkbox-item">Stadt- und Industriemuseum</mat-checkbox>
    <mat-checkbox class="checkbox-item">Kriminalmuseum</mat-checkbox>
    <mat-checkbox class="checkbox-item">Modemuseum</mat-checkbox>
  </div>
  <div class="modal-footer">
    <button type="button" class="buttons" (click)="modal.close('Close click')">Auswählen</button>
  </div>
</ng-template>
<button mat-raised-button class="buttons" (click)="openVerticallyCentered(content)">Museum auswählen</button>
