html, body {
    height: 100%;
    width: 100%;
}

.main-content {
    min-height: calc(100vh - 60px);
}
 
.buttons {
    text-align: center;
    border: none;
    height: 38px;
    width: fit-content;
    padding: 0 10px;
    background-color:#F2B705;
    border-radius: 4px;
    font-size: medium;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.buttons:focus {
    outline: none;
    box-shadow: none;
}

.buttons:hover {
    background-color:#FFD857;
    box-shadow: inset 0 0 0 2px #F2B705;
    border-radius: 8px;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

li {
    list-style: none;
}