/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

body{
    margin: 0;
    background-color: aquamarine;
}



/* .buttons {
    text-align: center;
    border-radius: 8px;
    border: none;
    height: 38px;
    width: fit-content;
} */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
