.columns {
  column-count: 2;
  margin: 20px 20px;
}

.md-form {
  margin: 10px 10px;
  text-align: center;
}

.close-icon {
  font-size: larger;
  color: #bf417c;
  font-weight: bold;
}

.more-link {
  font-size: smaller;
  text-align: center;
  border: none;
  height: 30px;
  width: fit-content;
  padding: 0 10px;
  border-radius: 4px;
  display: inline-block;
  transition: all 0.4s ease 0s;
}
