.columns {
    column-count: 2;
    margin: 20px 20px;
}

.md-form {
    margin: 10px 10px;
    text-align: center;
}

.close-icon {
    font-size: larger;
    color: #BF417C;
    font-weight: bold;
}