
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  padding-left: 16px;
}

.mat-toolbar {
  font-size: medium;
}

.spacer {
  flex: 1 1 auto;
}

.entry-question-wrapper {
    text-align: center;
    margin-top: 7%;
}

.entry-question {
    display: inline-block;
}

.rounded-circle {
    width: 500px;
    height: 170px;
}

.card-body {
    margin: 20px;
}

/* Breakpoints & Media Queries */

@media(max-width: 992px ) {
  .rounded-circle {
    width: 350px;
    height: 150px;
  }
}

@media(max-width: 750px ) {
  .rounded-circle {
    width: 300px;
    height: 130px;
  }

  .card-title {
    font-size: medium;
  }

  .card-body {
    margin: 7px;
  }

  .entry-question-wrapper {
    margin-top: 10%;
  }
}

@media(max-width: 670px ) {
  .rounded-circle {
    margin-top: 10px;
    width: 260px;
    height: 120px;
  }

  .card-title {
    font-size: small;
  }

  .card-body {
    margin-top: 1px;
    margin-bottom: 5px;
  }

  .entry-question-wrapper {
    margin-top: 13%;
  }
}


@media(max-width: 400px ) {

  .rounded-circle {
    width: 250px;
    height: 120px;
  }

  .card-title {
    font-size: 13px;
  }

  .card-body {
    margin-top: 1px;
    margin-bottom: 3px;
  }

  .entry-question-wrapper {
    margin-top: 25%;
    margin-bottom: 10%;
  }
}
