<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <!-- Header -->
    <mat-toolbar color="primary">
      <span>
        <a class="navbar-brand d-lg-inline-block" href="/book-my-trip">
          <img src="/assets/logo.svg" height="36" class="logo" alt="Logo">
        </a>
      </span>
      <span class="spacer"></span>
      <!-- Button to create a new entry item -->
      <app-button-new-entry-item></app-button-new-entry-item>
    </mat-toolbar>

    <!-- Main content -->
    <main class="container-fluid main-content">

      <div class="entry-question-wrapper">
        <div class="entry-question">
          <div class="card text-center rounded-circle">
            <div class="card-body">
              <h5 class="card-title">Wohin soll es gehen?</h5>
              <app-modal-entry-question></app-modal-entry-question>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="col-12">
          <app-carousel-cards></app-carousel-cards>
        </div>
      </div>

    </main>

    <footer class="row">
      <mat-toolbar color="primary">
        <app-footer></app-footer>
      </mat-toolbar>
    </footer>

  </mat-sidenav-content>
</mat-sidenav-container>
