<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <span>        
                <a class="navbar-brand d-none d-lg-inline-block" href="/book-my-trip">
                    <img src="/assets/logo.svg" height="36" alt="Logo">
                </a>
            </span>
            <span class="spacer"></span>
            <nav class="stroke">
                <ul>
                    <li><a href="/book-my-trip/{{city}}/restaurants">Restaurants</a></li>
                    <li><a href="/book-my-trip/{{city}}/hotels">Hotels</a></li>
                    <li><a href="/book-my-trip/{{city}}/museen">Museen</a></li>
                </ul>
            </nav>
        </mat-toolbar>
        <ng-content></ng-content>
        <!-- Add Content Here -->

        <div class="container">

            <section class="row">
                <div class="col">
                    <div class="title-rating">
                        <h4>Ihre Bewertung</h4>
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="col" style="margin-bottom: 20px; margin-top: 20px;" *ngIf="entry">
                    <table>
                        <tr>
                            <td><h6>{{entryType}}:</h6></td>
                            <td>{{entry.name}}</td>
                        </tr>
                        <tr>
                            <td><h6>Adresse:</h6></td>
                            <td>{{entry.contact | showAddress}}</td>
                        </tr>
                        <tr>
                            <td style="width: 35%"><h6>letzter Stand:</h6></td>
                            <td>Datum</td>
                        </tr>
                    </table>
                </div>
            </section>

            <section class="row">
                <div class="col">
                    <div class="general-rating" style="margin-bottom: 16px">
                        <h6>Wie können Sie Ihren Aufenthalt insgesamt bewerten?</h6>
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="col">
                    <app-star-rating
                    (rating)="setRating($event)"
                    ></app-star-rating> 
                </div>
            </section>
            
            <section class="text-rating row">
                <div class="col">
                    <label class="rating-labels" for="reviewer">Ihr Name</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        [(ngModel)]="reviewerName"  
                        name="reviewer" 
                        #reviewer="ngModel"
                        maxlength="30"/>

                    <label class="rating-labels" for="title">Titel Ihrer Bewertung</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        [(ngModel)]="reviewTitle"
                        name="title" 
                        #title="ngModel"
                        required
                        maxlength="30"/>
                    <div class="alert alert-danger" *ngIf="title.touched && !title.valid">
                        <div *ngIf="title.errors.required">Geben Sie bitte einen Titel ein.</div>
                    </div>
                
                    <div class="from-group">
                        <label class="rating-labels" for="comment">Ihr Kommentar</label>
                        <textarea 
                            class="form-control" 
                            cols="5" 
                            rows="3" 
                            [(ngModel)]="comment"
                            name="comment">
                        </textarea>
                    </div>
                </div>
            </section>

            <section class="row btn">
                <app-thank-you-modal
                [successfulPostIn]="valideUserInput()"
                (successfulPostOut)="handleSubmission()"
                ></app-thank-you-modal>
                <button class="buttons" style="margin-left:0.5cm" (click)="cancel()">Abbrechen</button>
            </section>
        </div>

        <footer class="row">
            <mat-toolbar color="primary">
                <app-footer></app-footer>
            </mat-toolbar>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>