form {
    padding: 20px;
    margin: 70px 200px;
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 20px;
}

.form-control.ng-touched.ng-invalid {
    border: 1px solid red;
}

.title {
    padding-top: 20px;
    margin: 20px 0;
}