<form>
    <div class="form-group">
        <label for="title">Titel Ihrer Bewertung</label>
        <input type="text" class="form-control" ngModel name="title" #title="ngModel" (change)="log(title)" required maxlength="30"/>
        <div class="alert alert-danger" *ngIf="title.touched && !title.valid">
            <div *ngIf="title.errors.required">Geben Sie bitte einen Titel ein.</div>
            <div *ngIf="title.errors.maxlength">Titel-Feld darf maximal aus 30 Zeichen bestehen.</div>
        </div>
    </div>
    <div class="from-group">
        <label for="comment">Ihr Kommentar</label>
        <textarea class="form-control" cols="5" rows="3" ngModel name="comment"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>