@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
    color: red;
}

.footer-content {
    color: white;
    /* border: 1px dotted yellow; */
 }


/* This makes problems with scrolling (the second scrollbar appears) */

/* .footer {
    border: 1px dotted green;
} */

/* p {
    margin-top: 20px;
} */

