<div class="footer">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
            <a class="nav-link" href="#">Impressum <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Datenschutz <span class="sr-only">(current)</span></a>
        </li>
    <!--     <li class="nav-item active">
            <a class="nav-link" href="#">Über uns <span class="sr-only">(current)</span></a>
        </li> -->
    </ul>
</div>

