@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
  color: #f2b705;
}

.footer-content {
  color: #fff;
}

.footer-text {
  padding-top: 20px;
  padding-left: 10px;
  font-size: 14px;
}

/* Breakpoints & Media Queries */

@media (max-width: 750px) {
  p {
    font-size: 14px;
  }
}

@media (max-width: 670px) {
  p {
    font-size: 11px;
  }
}
