<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="filter">  
    <form>
    <!-- filter-block -->
    <div class="filter-block" *ngIf="options">
        <h6>{{optionsTitle}}</h6>
        <!-- filter-content -->
        <ul class="filter-content filters list">
            <li *ngFor="let option of options | slice:0:3;"> 
                <label>
                    <input type="radio" name="checkedOption" value={{option}} [(ngModel)]="checkedOption">
                    {{option}}</label>
            </li>
            <div style="line-height: 6px" *ngIf="!hideChoice()">
                <span style="font-weight:bold" style="font-size: 60%">*Es wurde {{checkedOption}} gewählt.</span>
            </div>
            <div class="more-cuisines">
                <app-modal-more-options
                [options]="options"
                [checkedOptionIn]="checkedOption"
                (checkedOptionOut)="handleChoice($event)"
                ></app-modal-more-options>
            </div>
        </ul> <!-- filter-content -->
    </div> <!-- filter-block -->

    <!-- filter-block -->
    <div class="filter-block" *ngIf="entryTypeMatches('hotels')">
        <h6>Sterne</h6>
        <!-- filter-content -->
        <ul class="filter-content filters list">
            <li *ngFor="let stars of starsArray"> 
                <label>
                    <input type="radio" name="checkedStars" value={{stars.charAt(0)}} [(ngModel)]="checkedStars">
                    {{stars}}</label>
            </li> 
        </ul> <!-- filter-content -->
    </div> <!-- filter-block -->

    <!-- filter-block -->
    <div class="filter-block">
        <h6>Bewertung</h6>
        <!-- filter-content -->
        <ul class="filter-content filters list">
            <li class="rating best" *ngFor="let n of [5,4,3,2,1]">
                <label>
                    <input type="radio" name="checkedRating" value={{n}} [(ngModel)]="checkedRating">
                    <span class="fa fa-star" style="color: orange;" *ngFor="let i of [1,2,3,4,5] | slice:0:n;"></span>
                    <span class="fa fa-star-o" *ngFor="let i of [1,2,3,4,5] | slice:n:5;"></span>
                    <span *ngIf="!isHighestRating(n)"> &nbsp; & mehr</span>
                </label>
            </li>
        </ul> <!-- filter-content -->
    </div> <!-- filter-block -->

    <!-- filter-block -->
    <div class="filter-block" *ngIf="!entryTypeMatches('hotels')">
        <h6>Preisstufe</h6>
        <!-- filter-content -->
        <ul class="filter-content filters list">
            <li *ngFor="let priceLevel of priceLevelArray, let i = index">
                <label>
                    <input type="radio" name="checkedPriceLevel" value={{i+1}} [(ngModel)]="checkedPriceLevel">
                    {{priceLevel}}</label>
            </li>
        </ul> <!-- filter-content -->
    </div> <!-- filter-block -->

    <!-- filter-block -->
    <div class="filter-block" *ngIf="entryTypeMatches('hotels')">
        <h6>Früchstück</h6>
        <!-- filter-content -->
        <ul class="filter-content filters list">
            <label>
                <input type="radio" name="checkedBreakfastIncl" value="true" [(ngModel)]="checkedBreakfastIncl">
                inklusive
            </label> 
        </ul> <!-- filter-content -->
    </div> <!-- filter-block -->

    <div class="filter-button">
        <button class="buttons" (click)="handleFilter()">Filtern</button>
    </div>
    </form>
</div>
