<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="filter">  
    <form>
    <!-- filter-block -->
    <div class="filter-block" *ngIf="options">
        <h6>{{optionsTitle}}</h6>
        <!-- filter-content -->
        <ul class="filter-content filters list">
            <li *ngFor="let option of options | slice:0:3;"> 
                <label class="checkbox-label" for="checkbox">
                    <input class="filter" data-filter="check" type="checkbox">
                    {{option}}</label>
            </li> 
            <div class="more-cuisines">
                <app-modal-more-options
                [options]="options"
                ></app-modal-more-options>
            </div>
        </ul> <!-- filter-content -->
    </div> <!-- filter-block -->

    <!-- filter-block -->
    <div class="filter-block" *ngIf="isHotelCategory">
        <h6>Sterne</h6>
        <!-- filter-content -->
        <ul class="filter-content filters list">
            <li *ngFor="let star of stars"> 
                <label class="checkbox-label" for="checkbox">
                    <input class="filter" data-filter="check" type="checkbox">
                    {{star}}</label>
            </li> 
        </ul> <!-- filter-content -->
    </div> <!-- filter-block -->

    <!-- filter-block -->
    <div class="filter-block">
        <h6>Bewertung</h6>
        <!-- filter-content -->
        <ul class="filter-content filters list">
            <li class="rating best" *ngFor="let n of [5,4,3,2,1]">
                <input class="filter" data-filter="check" type="checkbox">
                <span class="fa fa-star" style="color: orange;" *ngFor="let i of [1,2,3,4,5] | slice:0:n;"></span>
                <span class="fa fa-star-o" *ngFor="let i of [1,2,3,4,5] | slice:n:5;"></span>
            </li>
        </ul> <!-- filter-content -->
    </div> <!-- filter-block -->

    <!-- filter-block -->
    <div class="filter-block" *ngIf="showPriceLevel">
        <h6>Preisstufe</h6>
        <!-- filter-content -->
        <ul class="filter-content filters list">
            <li *ngFor="let priceLevel of priceLevels">
                <label class="checkbox-label" for="checkbox">
                    <input class="filter" data-filter="check" type="checkbox">
                    {{priceLevel}}</label>
            </li>
        </ul> <!-- filter-content -->

        <div class="filter-button">
            <button class="btn btn-rounded">Filtern</button>
        </div>
    </div> <!-- filter-block -->

    <!-- filter-block -->
    <div class="filter-block" *ngIf="isHotelCategory">
        <h6>Früchstück</h6>
        <!-- filter-content -->
        <ul class="filter-content filters list">
            <label class="checkbox-label" for="checkbox">
                <input class="filter" data-filter="check" type="checkbox">
                inklusive
            </label> 
        </ul> <!-- filter-content -->
    </div> <!-- filter-block -->
    </form>
</div>
